@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(../images/selects-2.png) no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	background: #fff;padding: 0 0px; border: solid 1px #d3d3d3; border-top: solid 1px #eaeaea;border-bottom: solid 1px #bcbcbc;  background-image: -webkit-linear-gradient(bottom, #e8e8e9, #fcfbfb); background-image: -moz-linear-gradient(bottom, #e8e8e9, #fcfbfb); background-image: -o-linear-gradient(bottom, #e8e8e9, #fcfbfb); background-image: -ms-linear-gradient(bottom, #e8e8e9, #fcfbfb); background-image: linear-gradient(to top, #e8e8e9, #fcfbfb);
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 19px;line-height: 17px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px #fff; -moz-box-shadow: 0 1px #fff; box-shadow: 0 1px #fff;
	z-index: 1;
}
.catalog-filter .cusel {height: 26px;border: 1px solid #d6d6d6;}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	height: 19px;
	width: 18px;
	background: url(../img/sprite.png) no-repeat 8px -538px;
}
.catalog-filter .cuselFrameRight {top: 6px;right: 10px;}

.cuselText { /* контейнер для отображенного текста селект */
	padding: 1px 0px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer; text-indent: 6px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font-size: 14px;
	position: absolute;
	top: 0;
	left: 0;
}
.catalog-filter .cuselText {padding: 6px 0 0 7px;}

* html .cuselText { /* высота блока для текста для ие6 */
	height: 22px;
}
.cusel span {position: relative;
	display: block;
	cursor: pointer; line-height :18px; font-size: 14px; color:#333;
	white-space: nowrap;
	padding: 1px 7px; margin: 0 -1px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
}
.cusel span:last-child {-webkit-border-radius: 0 0 4px 4px; -moz-border-radius:  0 0 4px 4px; border-radius:  0 0 4px 4px;}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #00aafa;
	color: #fff;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #00aafa;
	color: #fff;
	cursor: default;
}
.cuselOpen {
	border: 1px solid #ddd; border-bottom: 0 none; padding: 1px 0px 0;background: #fff; -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.05); -moz-box-shadow: 0 2px 5px rgba(0,0,0,.05); box-shadow: 0 2px 5px rgba(0,0,0,.05);-webkit-border-radius: 4px 4px  0 0; -moz-border-radius: 4px 4px  0 0; border-radius: 4px 4px 0 0;/* границы выпадающего спиcка */
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background-image: url(../images/selects-2-dis.png) !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: -1px;
	top: 100%;
	padding: 0 2px 0 0;
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative; background: #fff;  border: 1px solid #ddd; border-top: 0 none;
	z-index: 5;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.05); -moz-box-shadow: 0 2px 5px rgba(0,0,0,.05); box-shadow: 0 2px 5px rgba(0,0,0,.05);-webkit-border-radius: 0 0 4px 4px; -moz-border-radius:  0 0 4px 4px; border-radius:  0 0 4px 4px;/* границы выпадающего спиcка */
}
.cusel .jScrollPaneContainer .cusel-scroll-pane {overflow: visible !important;}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 7px !important;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 4px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 15px !important;
	height: 27px !important;
	right: -4px;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}