/* ----------- plugin::scroll ----------- */
.scroll, .scroll-horizontal, .scroll-pane, .scroll-wrap{
    position:relative;
    overflow:hidden;
    zoom:1;
}
.scroll-wrap, .scroll, .scroll-horizontal{ width:100%; height:100%; }
.scroll-pane{ padding-right:7px; }
.scroll-horizontal .scroll-pane{ padding-right:0; padding-bottom:7px; }
.scroll-track{
    position:absolute;
    top:0; bottom:0;
    right:5px;
    width:5px;
    opacity:0;
    filter:alpha(opacity = 0);
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -ms-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
    z-index:1;
}
.touch .scroll-track{ opacity:.5; filter:alpha(opacity = 50); }
.scroll-horizontal .scroll-track{
    top:auto; bottom:0;
    left:0;
    height:7px; width:auto;
}
.scroll-track .scroll-drag{
    position:relative;
    width:5px; margin-top:0;
    background:#444;
    border-radius:10px;
}
.scroll-horizontal .scroll-track .scroll-drag{
    height:5px; margin-left:0;
    margin-top:0 !important;
    width:auto;
}
.scroll.hover > .scroll-track,
.scroll.mousedown > .scroll-track,
.scroll-horizontal.mousedown > .scroll-track,
.scroll-horizontal.hover > .scroll-track{ opacity:.5; filter:alpha(opacity = 50); }
.touch.hover > .scroll-track{ opacity:1; filter:alpha(opacity = 100); }
.user-select-none, .user-select-none *{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.scroll.mousedown > .scroll-track .scroll-drag, .scroll-horizontal.mousedown > .scroll-track .scroll-drag{ background:#111; }
.touch-true{ overflow:auto !important }
.scroll.scroll-off > .scroll-track, .scroll-horizontal.scroll-off > .scroll-track{ display:none; }
/* ----------- end::scroll ----------- */