#modal-giftbox .step-box#edit-postcard {}
#modal-giftbox .step-box#edit-postcard .field-design .box-var .card .image {display: block; position: relative; overflow: hidden; margin: 0; width: 520px; height: 360px;background: url(../img/mask-card-1.png) no-repeat;}
#modal-giftbox .step-box#edit-postcard .field-design .box-var .card .image img {display: block;}
#modal-giftbox .step-box#edit-postcard .field-design .box-var .card .mask {display: block; position: relative; overflow: hidden; margin: 35px; width: 450px; height: 255px;}
#modal-giftbox .step-box#edit-postcard .field-design .box-var .card .edit-title {position: absolute; top: 322px; left: 0; width: 100%; z-index: 10;}
#modal-giftbox .step-box#edit-postcard .field-design .box-var .card .edit-title input {margin: 0 auto; width: 480px; height: 22px; border: 0 none; color: #333; font-size: 17px; text-align: center; font-family: 'Times New Roman'; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; -moz-box-shadow: 0 0 0; }
#modal-giftbox .step-box#edit-postcard {}
#modal-giftbox .step-box#edit-postcard {}
#modal-giftbox .step-box#edit-postcard {}
